body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(31, 31, 31);
}
.wrapper {
    margin-right: auto;
    margin-left: auto;
    padding-right: 10px;
    padding-left: 10px;
    max-width: 700px;
}
.center {
    text-align: center;
}
.abscenter {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.mt {
    margin-top: 100px;
}
.card {
    background-color: #f1f1f1;
    height: 380px;
    width: 400px;
    margin: 0 auto;
    border-radius: 12px 12px 0px 0px;
}
.card-header {
    background-color: #3b3a3a;
    color: white;
    height: 100px;
    border-radius: 10px 10px 0px 0px;
}
.card-body {
    background-color: #f1f1f1;
    height: 300px;
    border-radius: 7%;
}
.btn {
    width: 120px;
    height: 60px;
    font-size: 16px;
    border: 0;
    padding: 0;
    border-radius: 5%;
    cursor: pointer;
    outline: none;
}
.success {
    background-color: rgb(77, 168, 77);
    color: white;
}
.success:hover {
    background-color: rgb(46, 129, 46);
    color: white;
}
.danger {
    background-color: rgb(230, 113, 113);
    color: white;
}
.danger:hover {
    background-color: rgb(230, 73, 73);
    color: white;
}
.h-center {
    text-align: center;
}